<html>
    <head>
        {% if title %}
        <title>{{ title }} - Dashboard</title>
        {% else %}
        <title>Dashboard</title>
        {% endif %}
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
    </head>
    <body>
      <div>
          Dashboard:
          <a href="{{ url_for('main.index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('auth.login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('main.user', id=current_user.id) }}">Profile</a>
          <a href="{{ url_for('admin.users') }}">Users</a>
          <a href="{{ url_for('auth.logout') }}">Logout</a>
          {% endif %}
      </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
