{% extends "main/base.html" %}

{% block content %}
<div class="d-sm-flex justify-content-center">
  <div class="flex-fill">
    <div class="text-center">
      <img src="{{ current_user.avatar(250) }}" class="img-fluid rounded-circle">
    </div>
  </div>
  <div class="flex-fill">
    <h1>{{ current_user.fname }} {{ current_user.lname }}</h1>
    <h5>User: {{ current_user.email }}</h5>
    {% if current_user.about_me %}<p>{{ current_user.about_me }}</p>{% endif %}
    {% if current_user.last_seen %}<p>Last seen {{ moment(current_user.last_seen).fromNow() }}</p>{% endif %}
    <p><a href="{{ url_for('main.profile_edit') }}">Edit your profile</a></p>
  </div>
</div>


{% endblock %}
