{% extends "./main/base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post" class="w-400 mw-full" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label(class='required', for='email') }}
          {% for error in form.email.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {{ form.email(type='email', class='form-control', id='email', placeholder='Email', required='reqiured') }}
        </div>
        <div class="form-group">
          {{ form.fname.label(class='required', for='fname') }}
          {% for error in form.fname.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {{ form.fname(type='text', class='form-control', id='fname', placeholder='First name', required='reqiured') }}
        </div>
        <div class="form-group">
          {{ form.lname.label(class='required', for='lname') }}
          {% for error in form.lname.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {{ form.lname(type='text', class='form-control', id='lname', placeholder='Last name', required='reqiured') }}
        </div>
        <div class="form-group">
          {{ form.password.label(class='required', for='password') }}
          {% for error in form.password.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {{ form.password(type='password', class='form-control', id='password', placeholder='Password', required='reqiured') }}
        </div>
        <div class="form-group">
          {{ form.password2.label(class='required', for='password2') }}
          {% for error in form.password2.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {{ form.password2(type='password', class='form-control', id='password2', placeholder='Confirm password', required='reqiured') }}
        </div>
        <div class="form-group">
          <div class="custom-switch">
            <input type="checkbox" id="admin" name="admin" value="">
            {{ form.admin.label(for='admin') }}
          </div>
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
{% endblock %}
