{% extends "main/base.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Last seen</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row"><img src="{{ user.avatar(50) }}"></th>
      <td scope="row">{{ user.email }}</td>
      <td scope="row">
        {{ user.fname }} {{ user.lname }}
      </td>
      <td scope="row">{{ moment(user.last_seen).format('LLL') }}</td>
      <td scope="row">
        {% if user == current_user %}
        YOU
        {% else %}
        <a href="{{ url_for('admin.user_edit',  id=user.id) }}">Edit</a> <a href="{{ url_for('admin.user_edit',  id=user.id) }}">Delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

    <hr>

{% endblock %}
