{% extends "main/base.html" %}

{% block content %}
<a href="{{ url_for('admin.user_create') }}" class="btn btn-primary" role="button">Create new</a>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="hidden-sm-and-down"></th>
        <th>Person</th>
        <th>Last seen</th>
        <th></th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      {% if user == current_user %}
      {% else %}
      <tr>
        <td class="hidden-sm-and-down"><img src="{{ user.avatar(40) }}" class="img-fluid rounded-circle"></td>
        <th>
          <a href="{{ url_for('admin.user_detail',  id=user.id) }}">{{ user.fname }} {{ user.lname }}</a><br>
          <span class="font-size-12 hidden-sm-and-down">{{ user.email }}</span>
        </th>
        <td>{{ moment(user.last_seen).format('LLL') }}</td>
        <td>
          {% if user.admin %}
          <span class="badge badge-primary badge-pill">Admin</span>
          {% endif %}
        </td>
        <td class="text-right">
          <a href="{{ url_for('admin.user_edit', id=user.id) }}" class="btn btn-sm mr-15">Edit</a>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
